<%- include("../partials/_header.ejs") %>

<div class="container">
  <div class="py-5">
    <div class="d-flex justify-content-between mb-3">
      <h1>Admin Panel</h1>

      <div class="d-flex">
        <div class="me-2">
          <a href="/admin/users/new" class="btn btn-success">Create new User</a>
        </div>
        <form action="/users/logout" method="post">
          <button class="btn btn-warning">Logout</button>
        </form>
      </div>
    </div>

    <form action="/admin/dashboard" class="d-flex w-25 mb-3">
      <input type="search" class="form-control" name="q" value="<%= q ?? q %>" placeholder="Search" />
      <button type="submit" class="btn btn-primary ms-3">Search</button>
    </form>



    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Mobile</th>
          <th scope="col">Verified</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% if (users.length > 0) { %>
          <% users.forEach(function (user) { %>
          <tr>
            <th scope="row"><%= user.uid %></th>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.mobile %></td>
            <td class="<%= user.isVerified ? "text-success" : "text-danger" %>"><%= user.isVerified ? "Verified" : "Not Verified" %></td>
            <td>
              <a href="/admin/users?id=<%= user.uid %>" class="btn btn-sm btn-primary">View</a>
              <a href="/admin/users/<%= user.uid %>/edit" class="btn btn-sm btn-info">Edit</a>
              <form action="/admin/users/<%= user.uid %>/destroy?_method=DELETE" method="POST" class="d-inline-block">
                <button type="submit" class="btn btn-sm btn-danger">Delete</a>
              </form>
            </td>
          </tr>
          <% }) %>
        <% } else { %>
          <h1 class="py-3">No Users found!</h1>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
<%- include("../partials/_footer.ejs") %>
